
.gitlab-tree {
    top: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(247,247,247,1);
    z-index: 10000;
    position: fixed;
    width: 300px;
    height: 100%;
    border-right: 1px solid #ddd;
    transform: translate3d(0px, 0px, 0px);
    overflow: auto;
}

.gitlab-tree header {
    height: 47px;
    width: 300px;
    border-right: 1px solid #ddd;
    background: #474D57;
    border-bottom: 1px solid #373D47;
    font-size: 16px;
    color: #fff;
    padding-left: 30px;
    padding-top: 3px;
}

.gitlab-tree div.head {
    font-size: 13px;
    font-weight: bold;
}

.gitlab-tree div.head a{
    color: #fff;
}
.gitlab-tree div.head branch{
    color: #fff;
}

.toggle-btn {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #446e9b;
    background-image: -webkit-linear-gradient(#fcfcfc, #eee);
    background-image: linear-gradient(#fcfcfc, #eee);
    border: 1px solid #446e9b;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
}

a.gitlabtree_toggle {
    width: 30px;
    height: 30px;
    top: -15px;
    right: -135px;

}

.icon-white {
    background-image: url("http://images2015.cnblogs.com/blog/282019/201510/282019-20151012205005819-1752203324.png");
}

.icon-arraw-left {
    background-position: -425px -67px;
}

.gitlab-tree ul {
    font-size: 16px;
}

.gitlab-tree li {
    list-style:none;
}

.gitlab-tree li a {
    color: #446E9B !important;
    font-size: 13px;
}

.gitlab-tree-btn {
    height: 18px;
    width: 15px;
    background-color: #474d57;
    position: fixed;
    left: 10px;
    top: 5px;
    z-index: 2000;
    border-radius: 3px;
    background-position: -455px -70px;
    cursor: pointer;
    margin: 10px;
}