
.gitlab-tree {
    top: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.35);
    z-index: 10000;
    position: fixed;
    width: 300px;
    height: 100%;
    transform: translate3d(0px, 0px, 0px);
    overflow: auto;
}


.gitlab-tree ul {
    /*padding-top: 50px;*/
    font-size: 16px;
}

.gitlab-tree li {
    list-style:none;
}

.gitlab-tree li a {
	color: #fff;
}