
.gitlab-tree {
    top: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(111,111,45,.5);
    z-index: 10000;
    position: fixed;
    width: 320px;
    height: 100%;
    transform: translate3d(0px, 0px, 0px);
    overflow: auto;
}

.gitlab-tree li {

}

.gitlab-tree li a {
	color: #fff;
}